.singlepost__content-img {
  grid-template-columns: 1fr;
  line-height:0;
}

.singlepost__img {
  width: 100%;
  object-fit: cover;
  height: 300px;
}

.edit__postsingle {
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--main-color);
  align-items: center;
  padding: 0 2rem;

}

.postsingle__content-edit, 
.postsingle__content-delete,
.postsingle__content-cancel  {
    background-color: var(--title-color);
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.postsingle__content-delete {
    display: flex;
    justify-self: flex-end;
    
}
 

.postsingle__edit-icon{
    display: inline;
    color: var(--body-color);
    
}

.postsingle__delete-icon {
    display: inline;
    text-align: end;
    color: var(--body-color);

}

.postsingle__cancel-icon {
    color: var(--body-color);
    font-size: var(--h2-font-size);
}

.info__postsingle {
  grid-template-columns: repeat(2, 1fr);
  padding: 0.7rem;
}

.postsingle__content-user {
  font-size: var(--smaller-font-size);
}

.postsingle__user {
  background: var(--title-color);
  border-radius: 5px;
  text-decoration: none;
  color: var(--body-color);
  padding: 0 0.4rem;
  display: inline-block;
  margin-left: var(--mb-0-5);
}

.postsingle__user-icon {
  color: var(--body-color);
  padding: 0;
  padding-top: 0.3rem;
  font-size: var(--h3-font-size);
}

.postsingle__content-createddate {
  text-align: end;
  font-size: var(--smaller-font-size);
}

.singlepost__title {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.singlepost__description {
  padding: 1rem 1rem;
}
