
.spinner {
    width: 6rem;
    height: 6rem;
    border: .5rem dashed var(--title-color);
    justify-self: center;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}



@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}